<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.CertificationMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.Certification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="op_day" jdbcType="INTEGER" property="opDay" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="validity" jdbcType="INTEGER" property="validity" />
    <result column="issuer" jdbcType="INTEGER" property="issuer" />
    <result column="cover_img_id" jdbcType="BIGINT" property="coverImgId" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="memo" jdbcType="LONGVARCHAR" property="memo" />
  </resultMap>
</mapper>