<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.CertificationUserMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.CertificationUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="certification_id" jdbcType="BIGINT" property="certificationId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="enroll_time" jdbcType="TIMESTAMP" property="enrollTime" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="proof_file_id" jdbcType="BIGINT" property="proofFileId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="unenrolll_time" jdbcType="TIMESTAMP" property="unenrolllTime" />
    <result column="reject_time" jdbcType="TIMESTAMP" property="rejectTime" />
    <result column="reject_desc" jdbcType="VARCHAR" property="rejectDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
</mapper>