<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.DiscussionMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.Discussion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="study_group_set_id" jdbcType="BIGINT" property="studyGroupSetId" />
    <result column="study_group_id" jdbcType="BIGINT" property="studyGroupId" />
    <result column="is_pin" jdbcType="INTEGER" property="isPin" />
    <result column="pin_seq" jdbcType="INTEGER" property="pinSeq" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_grade" jdbcType="INTEGER" property="isGrade" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="grade_type" jdbcType="INTEGER" property="gradeType" />
    <result column="grade_scheme_id" jdbcType="BIGINT" property="gradeSchemeId" />
    <result column="allow_like" jdbcType="INTEGER" property="allowLike" />
    <result column="allow_comment" jdbcType="INTEGER" property="allowComment" />
    <result column="is_comment_before_see_reply" jdbcType="INTEGER" property="isCommentBeforeSeeReply" />
    <result column="attachment_file_id" jdbcType="BIGINT" property="attachmentFileId" />
    <result column="last_active_time" jdbcType="TIMESTAMP" property="lastActiveTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>