<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.GenseeUserLiveHistoryMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.GenseeUserLiveHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gensee_webcast_id" jdbcType="VARCHAR" property="genseeWebcastId" />
    <result column="gensee_nickname" jdbcType="VARCHAR" property="genseeNickname" />
    <result column="gensee_join_time" jdbcType="TIMESTAMP" property="genseeJoinTime" />
    <result column="gensee_leave_time" jdbcType="TIMESTAMP" property="genseeLeaveTime" />
    <result column="gensee_ip" jdbcType="VARCHAR" property="genseeIp" />
    <result column="gensee_uid" jdbcType="BIGINT" property="genseeUid" />
    <result column="gensee_area" jdbcType="VARCHAR" property="genseeArea" />
    <result column="gensee_mobile" jdbcType="VARCHAR" property="genseeMobile" />
    <result column="gensee_company" jdbcType="VARCHAR" property="genseeCompany" />
    <result column="gensee_join_type" jdbcType="BIGINT" property="genseeJoinType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
  </resultMap>
</mapper>