<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.SisImportSectionUserMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.SisImportSectionUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="org_tree_id" jdbcType="VARCHAR" property="orgTreeId" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="section_id" jdbcType="VARCHAR" property="sectionId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="op_user_id" jdbcType="BIGINT" property="opUserId" />
    <result column="op_user_org_tree_id" jdbcType="VARCHAR" property="opUserOrgTreeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>