<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.StudyGroupUserMapper">
  <resultMap id="BaseResultMap" type="com.wdcloud.lms.core.base.model.StudyGroupUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="study_group_set_id" jdbcType="BIGINT" property="studyGroupSetId" />
    <result column="study_group_id" jdbcType="BIGINT" property="studyGroupId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="is_leader" jdbcType="INTEGER" property="isLeader" />
    <result column="cover_color" jdbcType="VARCHAR" property="coverColor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
  </resultMap>
</mapper>