<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.ext.QuestionMatchOptionExtMapper">
    <!-- 批量添加-->
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">

        INSERT INTO cos_question_match_option
        (
        `question_id`,
        `question_matchOption_id`,
        `content`,
        `seq`,
        `create_user_id`,
        `update_user_id`)
        VALUES
        <foreach collection="list" item="item" separator=",">
        (   #{item.question_id,jdbcType=BIGINT},
            #{item.question_matchOption_id,jdbcType=BIGINT},
            #{item.content,jdbcType=VARCHAR},
            #{item.seq,jdbcType=INTEGER},
            #{item.create_user_id,jdbcType=BIGINT},
            #{item.update_user_id,jdbcType=BIGINT});
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate"  keyProperty="id" useGeneratedKeys="true">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update cos_question_match_option set
            <if test="item.questionId!= null">
                question_id=#{item.questionId},
            </if>
            <if test="item.code!= null">
                question_matchOption_id=#{item.questionOptionId},
             </if>
            <if test="item.content!= null">
                    content=${item.content},
            </if>
            <if test="item.seq!= null">
                    seq=#{item.seq},
            </if>
            <if test="item.updateUserId!= null">
                    update_user_id=#{item.updateUserId},
            </if>
                update_time=#{item.updateTime}
              where id = #{item.id}
        </foreach>
    </update>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
            delete from cos_question_match_option where id in
        <foreach collection="list" item="item" index="index"  open="("
                 separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <!-- 依据问题ID关联查询 -->
    <resultMap id="getByquestionIdResultMap" type="com.wdcloud.lms.core.base.vo.QuestionVO" extends="com.wdcloud.lms.core.base.mapper.QuizMapper.BaseResultMap">
        <result column="questionId" jdbcType="INTEGER" property="questionId"/>
        <association property="matchOptions" columnPrefix="matchmatchOption_" resultMap="com.wdcloud.lms.core.base.mapper.QuestionMatchOptionMapper.BaseResultMap">
        </association>
    </resultMap>
    <select id="getByquestionId" resultMap="getByquestionIdResultMap">

        SELECT cqs.id,
        cqs.course_id,
        cqs.group_id,
        cqs.type,
        cqs.title,
        cqs.content,
        cqs.correct_comment,
        cqs.wrong_comment,
        cqs.general_comment,
        cqs.is_template,
        cqs.question_bank_id,
        cqs.question_template_id,
        cqs.score,
        cqs.seq,
        cqs.create_time,
        cqs.update_time,
        cqs.create_user_id,
        cqs.update_user_id,

        cqso.id as matchOption_id,
        cqso.question_id as matchOption_question_id,
        cqso.question_option_id as matchOption_question_option_id,
        cqso.content as matchOption_content,
        cqso.seq as matchOption_seq,
        cqso.create_time as matchOption_create_time,
        cqso.update_time as matchOption_update_time,
        cqso.create_user_id as matchOption_create_user_id,
        cqso.update_user_id as matchOption_update_user_id
        FROM cos_question as cqs left join cos_question_match_option as cqsmo on cqs.id=cqsmo.question_id
        <where>
         cqs.id=#{questionId};
        </where>

    </select>


</mapper>