<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.ext.SisImportCourseExtMapper">

    <insert id="batchSaveOrUpdate" keyColumn="id" useGeneratedKeys="true">
        insert into sys_sis_import_course (
            `id`,
            `batch_code`,
            `target_id`,
            `org_tree_id`,
            `course_id`,
            `short_name`,
            `long_name`,
            `account_id`,
            `term_id`,
            `start_date`,
            `end_date`,
            `course_format`,
            `operation`,
            `op_user_id`,
            `op_user_org_tree_id`
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.batchCode},
                #{item.targetId},
                #{item.orgTreeId},
                #{item.courseId},
                #{item.shortName},
                #{item.longName},
                #{item.accountId},
                #{item.termId},
                #{item.startDate},
                #{item.endDate},
                #{item.courseFormat},
                #{item.operation},
                #{item.opUserId},
                #{item.opUserOrgTreeId}
            )
        </foreach>
        on duplicate key update
            `batch_code` = values(`batch_code`),
            `target_id` = values(`target_id`),
            `org_tree_id` = values(`org_tree_id`),
            `course_id` = values(`course_id`),
            `short_name` = values(`short_name`),
            `long_name` = values(`long_name`),
            `account_id` = values(`account_id`),
            `term_id` = values(`term_id`),
            `start_date` = values(`start_date`),
            `end_date` = values(`end_date`),
            `course_format` = values(`course_format`),
            `operation` = values(`operation`),
            `op_user_id` = values(`op_user_id`),
            `op_user_org_tree_id` = values(`op_user_org_tree_id`)
    </insert>
</mapper>