<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdcloud.lms.core.base.mapper.ext.UserEPortfolioPageFileExtMapper">

    <select id="getByUserFileIdIn" resultType="java.lang.Long">
        select
            user_file_id
        from sys_user_e_portfolio_page_file
        where user_file_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>